@font-face {
  font-family: 'AUTHENTICSans-90';
  src: url(AUTHENTICSans-90.otf) format('opentype');
}

@font-face {
  font-family: 'AuthenticSans-60';
  src: url(AUTHENTICSans-60.otf) format('opentype');
}

body {
  font-family: 'AuthenticSans-60';
  font-size: 50px;
  padding: 0px;
  justify-content: center;
  place-items: center;
}

.dropbtn {
  font-weight: light;
  font-family: 'AuthenticSans-60';
  background-color: white;
  color: rgba(16, 16, 16, 0.8);
  font-size: 40px;
  height: 60px;
  display: block;
  border: none;
}

.dropdown-content {
  position: relative;
  top: 8%;
  left: 52%;
  transform: translateX(-50%);
  min-width: 200px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: white;
  border: none;
  transition: opacity 0.05s ease;
}

.dropdown-content a {
  font-size: 13px;
  color: rgb(67, 67, 67);
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: none;
  transition: 0.2ms;
  border: none;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}

.menu {
  display: flex;
  justify-content: center;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
color: rgb(67, 67, 67);
text-decoration: none;
display: block;
}

a:visited {
  color: rgb(67, 67, 67);
  text-decoration: none;
}

.footer {
  font-family: 'AuthenticSans-90';
  padding: 0;
  font-size: 11px;
  position: fixed;
  bottom: 10px;
  left: -10px;
  width: 100%;
  text-align: right;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

.about {
  font-family: 'AuthenticSans-90';
  padding: 0;
  font-size: 11px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 100%;
  text-align: left;
  letter-spacing: 0.035em;
  color:  rgba(0, 0, 0, 0.7);
  display: inline-block;
}


body {
  padding: 30px;
  margin:0;
  height: fit-content;
}

h1 {
  font-family: 'AUTHENTICSans-90';
  font-weight: 200;
  font-size: 17px;
  letter-spacing: 0.035em;
}

h2 {
  font-family: 'AUTHENTICSans-90';
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 15px;
}

p {
  font-family: 'AUTHENTICSans-90';
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.page-title {
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-family: 'AUTHENTICSans-90';
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.page-title:hover {
  color: rgb(255, 255, 255);
}

figcaption {
  font-family: 'AUTHENTICSans-90';
  color: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  margin-top: 6px;
  text-align: right;
  margin-bottom: 400px;
}

.document {
  display: flex;
  height: 200px;
  overflow: scroll;
}

.document img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0px 30px;
}

a.back-link {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: fixed;
  top: 15px;
  left: 15px;
}