ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.home-link {
  position: fixed;
  top: 30px;
  left: 30px;
}

.sidebar {
  position: fixed;
  top: 130px;
  left: 30px;
  margin-right: 100px;
}

.page-title{
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
  font-family: Courier;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.right-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  margin: auto;
}

.four-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 200px;
}

.four-columns img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}

.content {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  margin: auto;
}

.content img {
  max-width: 100%;
  height: auto;
  margin:auto;
  object-fit: contain;
}