ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.home-link {
  position: fixed;
  top: 30px;
  left: 30px;
}

.sidebar {
  position: fixed;
  top: 130px;
  left: 30px;
  margin-right: 100px;
}

.right-section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 100px;
  margin: auto;
}

.content img,
.two-columns img,
.three-columns img {
  max-width: 100%;
  height: auto;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: fit-content;
}

.three-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}